body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

.header {
  text-align: center;
  padding: 40px 20px;
  background: #020617;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: #020617;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

.subheader {
  text-align: center;
  padding: 20px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

.section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.card a {
  color: #38bdf8;
  text-decoration: none;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.skills-list li {
  background: #1e293b;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}
 /* for the experiences */
.card ul {
  margin-top: 10px;
  padding-left: 20px;
}

.card li {
  margin-bottom: 6px;
  line-height: 1.5;
}

